@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

/* Styles globaux */
html{
    position: relative;
    min-height: 100%;
    background-color: $dark;
}

main {
    margin-bottom: 300px; /* Hauteur du footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif; 
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    font-size: 20px;
}

label {
    font-family: $font-family-serif;
    font-size: 14px;
}
/* Styles Home page */

.paddingright {
    padding-right: 20px;
}
.big-title {
        margin-top: 300px;
}
.background-big-title {
    background-color: #1c221e;
    opacity: 0.7;
}
.btn-research {
    width: 100%;
}
.hero-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/header.jpg);
        background-size: cover;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}

// .input-group-text {
//     background-color: white;
//     border-right: none;
// }

.form-control {
    border-left: none;
    box-shadow: none;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
.hero-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
    color: white;
}
.main-content {
    background-color: #A8D5BA;
    padding-top: 150px;
    height: 600px;
}

#first-content {
    margin-top: 50px;
    background-image: url(/images/asap-pang-Us2KDzmnUCo-unsplash.jpg);
    background-size: cover;
    width: 155px;
    height: 350px;
}

#second-content {
    margin-top: 50px;
    width: 155px;
    height: 350px;
}
#second-content p {
    height: 334px;
}

/* Styles Covoiturage page */

.covoiturage-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/empty-street-beautiful-trees.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.covoiturage-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.big-title-covoiturage {
    margin-top: 75px;
}
.big-title-covoiturage h2 {
    -webkit-text-stroke: black 0.25px;;
}
.research-background {
    height: 0px;
}
.base-research-covoiturage {
    position: relative;
    top: -20px;
}
.covoiturage-main-content {
     top: 100px;
     min-height: 50vh;
     background-color: #A8D5BA;
}
.rating-mobile {
  display: flex;
  align-items: center;
  gap: 4px;

  i {
    color: #1F7A63;
    font-size: 18px;
    line-height: 1;
  }

  span {
    color: #212529;
  }
}
.rating-desktop {
  display: none;
}
.form-check-input {
        transform: scale(0.8); /* réduit le switch */
    }
    
    .form-check-input:checked {
        background-color: #06f74e;
        border-color: #2e0b70;
    }
    .form-check-input{
        --bs-form-check-bg: #f50303;
    }
/* Styles exemple covoiturage */
.covoiturage-info-content {
    bottom: 500px;
}
.covoiturage-co{
    font-family: $font-family-serif;
    font-size: 16px;
}

.arrival-time {
    padding-left: 40px;
} 
.departure-time {
    padding-right: 40px;
}
.box-exemple {
    display: flex;
    justify-content: center;
    color: #000;
}
.trait {
    padding: 0 0 20px 50px;
    top: 12px;
    border-top: 2px solid #000;
    position: relative;
}
.time-spend {
    padding-left: 5px;
    padding-right: 5px;
}
.covoiturage-card {
    // width: 26rem;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Styles Détails page */
.details-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/accessoires-feminins-sac-plage_23-2147836793.webp);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.big-title-details {
    margin-top: 75px;
}
.details-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.details-main-content {
     top: 100px;
     min-height: 50vh;
     background-color: #A8D5BA;
}
.details-co {
    position: relative;
    top: -20px;
    font-family: $font-family-serif;
    font-size: 16px;
}
.user-info {
    font-family: $font-family-serif; 
}
.background-User{
    background-color: #817f7f;
}
.border-end {
    bordercolor: #000 !important;
}
.border-bottom {
    border-color: #000 !important;
}
.conducteur-card {
    padding-left: revert;
    padding-right: revert;
    border-radius: 12px;
    overflow: hidden; // IMPORTANT pour que le bg dépasse pas
    width: 96%;
}
.background-conducteur {
    background-color: #D9D9D9 !important;
}
.mobile-wrap {
    flex-wrap: wrap;
}
.rating-notice-mobile {
  display: flex;
  align-items: center;
  gap: 4px;

  i {
    color: #1F7A63;
    font-size: 18px;
    line-height: 1;
  }

  span {
    color: #212529;
  }
}
.rating-notice-desktop {
    display: none;
}
/* Styles Signin Page */
.signin-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/pexels-helenalopes-708392.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.signin-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.signin-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-signin {
    margin-top: 75px;
}
/* Styles Signup Page */
.signup-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/pexels-enregistrement.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.signup-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.signup-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-signup {
    margin-top: 75px;
}
/* Styles account Page */
.account-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/pexels-moncompte-10341105.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.account-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.account-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-account {
    margin-top: 75px;
}
.info-conducteur {
  display: none;
}
/* Styles history Page */
.history-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/historique.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.history-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.history-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-history {
    margin-top: 75px;
}
/* Styles history Page */
    .size-card {
        width: 10rem;
    }
/* Styles credit Page */
.credit-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/credit.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.credit-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.credit-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-credit {
    margin-top: 75px;
}
/* Styles review Page */
.review-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/review.jpg);
        background-size: cover;
        background-position: center;
        filter:brightness(0.8);
    }
    * {
        position: relative;
    }
}
.review-scene-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.review-main-content {
        top: 100px;
        min-height: 30vh;
        background-color: #A8D5BA;
}
.big-title-review {
    margin-top: 75px;
}
@include media-breakpoint-up(xxl){
    /* Style global */
    p{
        font-size: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 26px;
    }
    label {
        font-size: 16px;
    }
    .logo {
        width: 32px;
        height: 32px;
    }
    /* Style Home page */
    .hero-scene-content {
        height:555px;
    }
    .big-title {
        position: relative;
        top: 0px;
    }
    .desktop-research {
        display: flex;
        align-items: center;
        position: relative;
        top: 145px;
    }
    .size-research {
        width: 250px;
    }
    .research-background {
        height: 100px;
        background: #ffffff;
    }
    .main-content {
        height: 700px;
        padding-top: 0px;
        padding-bottom: 100px;
    }
    #first-content {
        background-image: url(/images/asap-pang-Us2KDzmnUCo-unsplash.jpg);
        background-size: cover;
        width: 398px;
        height: 600px;
    }
    #second-content {
        width: 398px;
        height: 600px;
    }
    #second-content p {
        height: 334px;
    }
    
    /* Styles Covoiturage page */
    
    .covoiturage-scene-content {
        height:555px;
    }
    .big-title-covoiturage {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    .base-research-covoiturage {
        display: flex;
        align-items: center;
        position: relative;
        top: -70px;
    }
    .filter-desktop {
        background-color: #fff;
    }
    .note-star {
        padding-left: 2rem;
    }
    .rating-mobile {
        display: none;
    }
    .rating-desktop {
        display: flex;
        align-items: center;
        gap: 2px;         
        i{
            font-size: 30px;
            color: #1F7A63;
            line-height: 1;
        }
    }
    .rating-notice-desktop {
        display: flex;
        align-items: center;
        gap: 2px;         
        i{
            font-size: 20px;
            color: #1F7A63;
            line-height: 1;
        }
    }
    /**teste**/
    .form-control-xs {
    height: 28px;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 6px;
    }
    .form-check-input {
        transform: scale(0.8); /* réduit le switch */
    }
    
    .form-check-input:checked {
        background-color: #06f74e;
        border-color: #2e0b70;
    }
    .form-check-input{
        --bs-form-check-bg: #f50303;
    }
    .size-note-desktop {
        width: 50rem;
    }
    /* Styles Détails page */
    .details-scene-content {
        height:555px;
    }
    .big-title-details {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    .details-co {
        width: 50%;
        top: 0px;
        position: unset;
    }
    .margin-details-info-s{
        margin-left: 80px !important;
    }
    
    .margin-details-info{
        margin-left: 150px !important;
    }
    .margin-details-info-price{
        margin-left: 160px !important;
    }
    .margin-details-info-seat{
        margin-left: 110px !important;
    }
    .conducteur-card {
        width: 100%;
        max-width: 920px; // ou ce que tu veux
        border-radius: 12px;
        overflow: hidden; // IMPORTANT pour que le bg dépasse pas
        padding-left: revert;
        padding-right: revert;
    }
    .mobile-wrap {
        flex-wrap: nowrap;
    }
    .rating-notice-mobile {
        display: none;
    }
    .background-conducteur p {
        font-size: 16px;
        
    }
    /* Styles Signin Page */
    .signin-scene-content {
        height:555px;
    }
    .big-title-signin {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    /* Styles Signup Page */
    .signup-scene-content {
        height:555px;
    }
    .big-title-signup {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    /* Styles account Page */
    .account-scene-content {
        height:555px;
    }
    .big-title-account {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    /* Styles history Page */
    .history-scene-content {
        height:555px;
    }
    .big-title-history {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    /* Styles history Page */
    .size-card {
        width: 12rem;
    }
    /* Styles credit Page */
    .credit-scene-content {
        height:555px;
    }
    .big-title-credit {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
    /* Styles review Page */
    .review-scene-content {
        height:555px;
    }
    .big-title-review {
        margin-top: 250px;
        position: relative;
        top: 0px;
    }
}







